
.footer {
    flex: 0 0 auto;
    padding-bottom: 30px;
    margin-top: 65px;

    position: relative;
    //z-index: 100;

    &__bg {
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        z-index: -100;
        &--img {
            position: absolute;
            left: 0; bottom: 0;
            width: 100%; height: auto;
            max-width: 1000px;
            user-select: none;
            pointer-events: none;
            z-index: -1;
        }
    }

    // .footer__container

    &__container {
        
        padding: 50px 15px 0 15px;
        border-top: 1px solid var(--gray);

        display: flex;
        justify-content: center;
        
        flex-direction: column;

        @include _768 {
            flex-direction: row;
            flex-wrap: wrap;
        }

        margin: -15px auto;
        @include _768 {
            margin: -15px auto;
            padding: 50px 0 0 0;
        }

        & > * {
            padding: 15px 0;
            @include _768 {
                padding: 15px;
            }
        }
    }

    // .footer__intro

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include _768 {
            display: block;
        }
    }

    // .footer__logo

    &__logo {

        // .footer__logo--img

        &--img {
        }
    }

    // .footer__contacts

    &__contacts {

        padding-top: 15px;

        display: flex;
        flex-direction: column;

        // .footer__contacts--link

        &--link {
            padding: 5px 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            @include _768 {
                justify-content: stretch;
            }
            color: var(--light);
            font-weight: 300;
            & svg {
                flex: 0 0 17px;
                margin-right: 12px;
            }
            & span {
                text-decoration: underline;
            }
        }
    }

    // .footer__social

    &__social {

        padding-top: 30px;

        // .footer__social--list

        &--list {
            display: flex;
            flex-wrap: wrap;
            margin: -11px;
        }

        // .footer__social--item

        &--item {
            padding: 11px;
        }

        // .footer__social--link

        &--link {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 23px; height: 23px;

            & svg {
                width: 100%;
            }
        }
    }

    // .footer__nav

    &__nav {

        flex: 1 1 auto;
        
        @include _768 {
            display: flex;
            justify-content: center;
        }
        

        &--row {
            display: inline-flex;
            justify-content: space-between;
            width: 100%;

            margin: 0 -10px;
            //flex-wrap: wrap;
            
            @include _768 {
                width: auto;
                margin: 0;
                justify-content: center;
                padding: 0 30px;
                border-left: 1px solid #3D3D3D;
                border-right: 1px solid #3D3D3D;
            }

            @media(min-width: 1200px) {
                padding: 0 12%;
            }
            
        }

        // .footer__nav--col

        &--col {
            padding: 0 10px;
            @include _768 {
                padding: 0 20px;
            }
            //min-width: 150px;
        }

        // .footer__nav--list

        &--list {
            margin: -5px 0;
        }

        // .footer__nav--item

        &--item {
            padding: 5px 0;
            display: flex;
        }

        // .footer__nav--link

        &--link {
            font-size: 0.875rem;
            line-height: 150%;
            color: var(--light);
        }
    }

    // .footer__hot

    &__hot {
        flex: 0 1 min(39%, 400px);

        // .footer__hot--title

        &--title {
            font-weight: 700;
            line-height: 207%;
            padding-bottom: 10px;
        }

        // .footer__hot--list

        &--list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            margin: -8px;
        }

        // .footer__hot--item

        &--item {
            padding: 8px;
        }

        // .footer__hot--link

        &--link {
        }

        // .footer__hot--img

        &--img {
            max-width: 100%;
        }
    }

    // .footer__copy

    &__copy {
        width: 100%;
        text-align: center;
        font-weight: 300;
        font-size: 0.75rem;
        line-height: 146%;
    }
}
