.poker {

    //padding-top: 30px;
    padding-bottom: 50px;
    @include _992 {
        padding-bottom: 100px;
    }

    // .poker__container

    &__container {
        margin-top: 50px;
        @include _992 {
            margin-top: 0px;
        }
        max-width: calc(1283px + (var(--container-padding) * 2));
    }

    // .poker__main

    &__main {

        margin-top: 100px;
        position: relative;

        display: grid;

        min-height: 100%;

        @media(min-width: 650px) {
            margin-top: 26px;
            min-height: 355px;
        }

        // .poker__main--bg

        &--bg {
            grid-area: 1/1;
            align-self: center;
        }

        // .poker__main--grid

        &--grid {
            grid-area: 1/1;

            z-index: auto;
        }

        // .poker__main--table

        &--table {
            grid-area: 1/1;
            align-self: center;
        }

        // .poker__main--table

        &--user-menu {

            z-index: auto;

            @media (min-width: 1150px) {
                z-index: 2;
            }

            align-self: end;
            margin-top: 100px;

            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            align-items: flex-end;
            justify-content: stretch;
            /* & > * {
                grid-area: 1/1;
            } */
            @media(min-width: 400px) {
                flex-wrap: nowrap;
                align-items: flex-end;
                flex-direction: row;
                justify-content: space-between;
            }

            @media(min-width: 650px) {
                height: auto;
                margin-bottom: 0;
                padding-inline: 0;
            }

            /* @media(min-width: 900px) {
                
                
            } */

            @media(min-width: 1150px) {
                margin-bottom: 50px;
                padding-inline: 5%;
                margin-top: 0;
                grid-area: 1/1;
                height: 0;
            }

            @media(min-width: 1250px) {
                margin-bottom: 66px;
            }

            & .game__user-menu--col {
                min-height: 45px;
            }

            & .game__user-menu--col:first-child {
                width: 100%;
                @media(min-width: 400px) {
                    width: auto;
                }
            }

            & .game__user-menu--col:last-child {

                max-width: calc(100% - 40px);
                margin-bottom: -45px;
                & .game__user-menu--row {
                    justify-content: flex-end;
                }

                & > .game__user-menu--main-btn {
                    max-width: 206px;
                }
                
                @media(min-width: 400px) {
                    max-width: none;
                    margin-bottom: 0;
                }

                @media(min-width: 900px) {
                    max-width: min(40vw, 460px);
                }
                
                @media(min-width: 1150px) {
                    margin-right: 50px;
                    max-width: min(30vw, 360px);
                }

                & .game__user-menu--row .game__user-menu--main-btn._large {
                    flex: 0 1 auto;
                    padding: 13.3px 10px;

                    @media (min-width: 400px) {
                        flex: 1 1 auto;
                        padding: 13.3px 10px;
                    }
                }
                
                @media(min-width: 1150px) {
                    margin-right: 0;
                    padding-right: 66px;
                    max-width: min(36vw, 480px);
                    margin-top: 15px;
                }
            }
        }
    }

    // .poker__bg

    &__bg {

        width: 100%; padding-top: 152.667%;
        @media(min-width: 650px) {
            padding-top: 49.962%;
        }
        //min-height: 100%;
        position: relative;

        // .poker__bg--img

        &--img {
            width: 100%; height: 100%;
            position: absolute;
            left: 0; top: 0;
            user-select: none; -webkit-user-drag: none;
        }
    }

    // .poker__grid

    &__grid {
        
        margin-top: -35px;
        min-height: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20% 45% 20% 15%;

        grid-template-areas:
        "player-1 player-2 player-3"
        "player-4 null-1 player-5"
        "player-6 null-3 player-7"
        "null-4 user null-5";

        @media(min-width: 650px) {

            margin-top: 0;
            
            grid-template-areas:
            "bet player-1 player-2 player-3 null-1"
            "player-4 null-2 null-2 null-2 player-5"
            "player-6 null-3 null-3 null-3 player-7"
            "null-4 null-4 user null-5 null-5";
            
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: auto auto auto 10%;
            //grid-template-rows: 35% auto 25%;
            
        }

        @media(min-width: 1150px) {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 25% 25% 40%;
            margin-top: -15px;
        }
        
        z-index: 2;

        min-height: 100%;
        position: relative;

        // .poker__grid--item

        &--item {
            justify-self: center;

            &:nth-child(1) {
                position: absolute;
                left: 0; top: 17%;

                display: none;

                @media(min-width: 650px) {
                    display: block;
                    position: static;

                    padding-top: 35px;
                    padding-left: 45px;

                    grid-area: bet;
                    justify-self: start;

                    
                }

                @media (min-width: 1150px) {
                    padding-top: 70px;
                    padding-left: 70px;
                }
            }

            &:nth-child(2) {
                grid-area: player-1;

                transform: translateX(20px);

                @media (min-width: 650px) {
                    transform: translateX(-30px);

                    display: flex;
                    align-items: flex-end;

                    & .game__player {
                        margin-top: -25px;
                    }
                }

                @media (min-width: 740px) {
                    transform: translateX(0);
                }
            }

            &:nth-child(3) {
                grid-area: player-2;

                @media (min-width: 650px) {
                    display: flex;
                    align-items: flex-end;

                    & .game__player {
                        margin-top: -25px;
                    }

                    transform: translateX(-15px);
                }

                
                @media (min-width: 740px) {
                    transform: translateX(0);
                }
            }

            &:nth-child(4) {
                grid-area: player-3;
                transform: translateX(-20px);

                @media (min-width: 650px) {
                    transform: translateX(0px);

                    display: flex;
                    align-items: flex-end;

                    & .game__player {
                        margin-top: -25px;
                    }
                }
            }

            &:nth-child(5) {
                grid-area: player-4;
                margin-left: -50px;
                margin-top: 0;
                @media(min-width: 650px) {
                    margin-left: -100px;
                    margin-top: -60px;
                }
                @media(min-width: 900px) {
                    margin-top: 0;
                }

                
            }

            &:nth-child(6) {
                grid-area: player-5;
                margin-right: -50px;
                margin-top: 0;
                @media(min-width: 650px) {
                    margin-right: -100px;
                    margin-top: -60px;
                }
                @media(min-width: 900px) {
                    margin-top: 0;
                }

                & .game__player--dealer {
                    transform: translate(0,-50%);
                    right: auto; left: 0;
                }
            }

            &:nth-child(7) {
                grid-area: player-6;
                margin-left: -50px;
                @media(min-width: 650px) {
                    margin-left: -100px;
                }
            }

            &:nth-child(8) {
                grid-area: player-7;
                margin-right: -50px;
                @media(min-width: 650px) {
                    margin-right: -100px;
                }

                & .game__player--dealer {
                    transform: translate(0,-50%);
                    right: auto; left: 0;
                }
            }

            &:nth-child(9) {
                grid-area: user;
                align-self: start;
            }
        }
    }

    // .poker__player

    &__player {
        position: relative;

        & .game__player--info {
            z-index: 3;
        }

        & .game__player--block {
            z-index: 3;
        }

        & .game__player--min-message {
            font-size: 0.625rem !important;
            @media(min-width: 650px) {
                font-size: .75rem !important;
            }
        }

        
    }

    // .poker__user

    &__user {

        margin-bottom: -30px;
        
        @media (min-width: 900px) {
            margin-bottom: 0px;
        }

        & .game__user--column {
            
            & .game__user--min-message {
                position: static;
                transform: translate(0,0);
                justify-content: center;
            }
        }

        & .game__user--block {
            position: absolute;
            left: 0; top: 100%;
            z-index: 10;
            //position: static;
            /* left: 0; bottom: -10px;
            transform: translate(0,100%); */
            order: 3;
            @media (min-width: 900px) {
                order: 3;
            }
        }

        & .game__user--info {
            order: 2;
            @media (min-width: 900px) {
                order: 2;
            }
        }

        & .game__user--avatar {
            order: 1;
            @media (min-width: 900px) {
                order: 2;
            }
        }

        // .poker__user--cards

        &--cards {
        }
    }

    // .poker__table

    &__table {

        // .poker__table--cards

        &--cards {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        // .poker__table--value

        &--value {
        }

        // .poker__table--cards-row

        &--cards-row {
            width: 90%;
            margin-bottom: -50px; margin-top: 10px;

            margin-inline: auto;

            display: flex;
            justify-content: space-between;

            @media (min-width: 650px) {
                width: 43.65%;
                margin-bottom: 15px; margin-top: 10px;
            }

            @media (min-width: 900px) {
                margin-bottom: 50px; margin-top: 10px;
            }
            
        }

        // .poker__table--card-place

        &--card-place {
            flex: 0 1 calc(20% - 5px);
            @media (min-width: 650px) {
                flex: 0 1 calc(20% - 10px);
            }

        }

        &--card-place._transparent &--card-body {
            opacity: .5;
        }

        // .poker__table--card-body

        &--card-body {
            width: 100%; padding-top: 140%;
            position: relative;

            transition: opacity .2s ease-in-out;

            &::before {
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;
                border-radius: 5px;
                @media (min-width: 900px) {
                    border-radius: 8.93023px;
                }
                border: 1px solid var(--light);
            }
        }

        // .poker__table--card-img

        &--card-img {
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            border-radius: 5px;

            @media (min-width: 900px) {
                border-radius: 8.93023px;
            }
        }
    }

    // .poker__user-menu

    /* &__user-menu {

    } */
}

.poker-player-cards {

    z-index: 2;
    
    transition: opacity .2s ease-in-out;

    --width: 35px;
    --large-width: 45px;

    --width-2: 45px;
    --large-width-2: 55px;

    --width-3: 50px;
    --large-width-3: 70px;

    --width-4: 60px;
    --large-width-4: 100px;

    @media (min-width: 650px) {
        
        z-index: -1;
    }

    /* @media (min-width: 740px) {
        
    }

    @media (min-width: 1150px) {
         
    } */

    // .poker-player-cards__list

    &__list {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, 50%);

        width: var(--width); padding-top: calc(var(--width) * 1.5);
        @media (min-width: 650px) {
            width: var(--width-2); padding-top: calc(var(--width-2) * 1.5);
            transform: translate(-50%, 0);
            z-index: -1;
        }
    
        @media (min-width: 900px) {
            width: var(--width-3); padding-top: calc(var(--width-3) * 1.5);
            transform: translate(-50%, 0);
        }
    
        @media (min-width: 1150px) {
            width: var(--width-4); padding-top: calc(var(--width-4) * 1.5);
            transform: translate(-50%, 0);
        }

        transition: left .2s ease-in-out, top .2s ease-in-out, transform .2s ease-in-out, width .2s ease-in-out, padding-top .2s ease-in-out;
    }

    &._show &__card--body {
        transform: rotateY(0deg);
    }

    &._transparent &__card--body > * {
        opacity: .7;
    }

    &._transparent &__card--body {
        background: var(--teal);
    }

    &._active &__list {
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);

        //width: var(--width); padding-top: calc(var(--width) * 1.5);
        
        @media (min-width: 650px) {
            left: 100%; top: 50%;
            transform: translate(30%, -30%);
        }
    }

    &._to-left._active &__list {
        left: 50%; top: 50%;

        transform: translate(-50%, -50%);
        @media (min-width: 650px) {
            transform: translate(75%, -35%);
            left: -100%;
        }
        //width: var(--width); padding-top: calc(var(--width) * 1.5);

        @media (min-width: 740px) {
            transform: translate(15%, -35%);
        }
        
        @media (min-width: 900px) {
            transform: translate(0%, -50%);
        }

        @media (min-width: 1150px) {
            transform: translate(25%, -50%);
        }
        
    }

    &._large &__list {
        transform: translate(-50%, -75%);
        width: var(--large-width); padding-top: calc(var(--large-width) * 1.5);
    }

    &._to-left._large &__list {
        transform: translate(-50%, -75%);
        width: var(--large-width); padding-top: calc(var(--large-width) * 1.5);
    }

    @media (min-width: 650px) {
        &._large &__list {
            transform: translate(30%, -50%);
            width: var(--width-2); padding-top: calc(var(--width-2) * 1.5);
        }

        &._to-left._large &__list {
            transform: translate(30%, -35%);
            width: var(--width-2); padding-top: calc(var(--width-2) * 1.5);
        }
    }

    /* @media (min-width: 740px) {
        &._to-left._large &__list {
            transform: translate(15%, -35%);
        }
    } */

    @media (min-width: 900px) {

        &._active &__list {
            left: 100%; top: 50%;
            transform: translate(50%, -50%);
            width: var(--width-3); padding-top: calc(var(--width-3) * 1.5);
        }
        
        &._large &__list {
            width: var(--large-width-3); padding-top: calc(var(--large-width-3) * 1.5);
            transform: translate(25%, -50%);
        }

        &._to-left._large &__list {
            transform: translate(-25%, -35%);
            
            width: var(--large-width-3); padding-top: calc(var(--large-width-3) * 1.5);
        }
    }

    @media (min-width: 1150px) {
        &._active &__list {
            left: 100%; top: 50%;
            transform: translate(50%, -50%);
            width: var(--width-4); padding-top: calc(var(--width-4) * 1.5);
        }

        &._large &__list {
            width: var(--large-width-4); padding-top: calc(var(--large-width-4) * 1.5);
            transform: translate(25%, -50%);
        }
        &._to-left._large &__list {
            transform: translate(-25%, -50%);
            width: var(--large-width-4); padding-top: calc(var(--large-width-4) * 1.5);
        }
    }

    // .poker-player-cards__card

    &__card {

        position: absolute;
        left: 0; top: 0;
        width: 100%;

        &:nth-child(1) {
            left: -15%;
        }

        &:nth-child(2) {
            left: 15%;
        }

        perspective: 600px;
        

        // .poker-player-cards__card--body

        &--body {
            position: relative;
            width: 100%; padding-top: 140%;

            transform-style: preserve-3d;
            transition: transform .5s ease-in-out, background .2s ease-in-out;

            border-radius: 4px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            transform: rotateY(180deg);

            & > * {
                border-radius: 4px;
                transition: opacity .2s ease-in-out;
            }
        }

        // .poker-player-cards__card--back

        &--back {
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            z-index: 2;
            backface-visibility: hidden;
            transform: rotateY(180deg);
            
            //opacity: 0;
        }

        /* &._active &--body {
            
        } */

        // .poker-player-cards__card--front

        &--front {
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            //transform: translateZ(-100px) rotateY(0deg);
            backface-visibility: hidden;
            //opacity: 0;
        }
    }
}

.poker-user-cards {
    position: absolute;
    left: 50%; top: -70px;

    transform: translate(-50%,30%);
    width: 60px;
    &._full {
        width: 150px;
    }

    transition: width .2s ease-in-out, opacity .2s ease-in-out;

    @media (min-width: 650px) {
        top: -100px;
    }

    @media (min-width: 900px) {
        top: -150px;
        transform: translate(-50%,10%);
        width: 100px;
        &._full {
            width: 237px;
        }
    }

    @media (min-width: 1150px) {
        width: 125px;
        top: -85px;
        transform: translate(-50%,-25%);

        &._full {
            width: 294px;
        }
    }

    &._transparent {
        opacity: .5;
    }

    &._full &__card {
        padding-inline: 5px;
    }

    &._full &__card--body {
        padding-top: 140%;
    }

    // .poker-user-cards__list

    &__list {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    // .poker-user-cards__card

    &__card {

        flex: 1 1 auto;
        transition: padding .2s ease-in-out, width .2s ease-in-out;

        // .poker-user-cards__card--body

        &--body {
            width: 100%; padding-top: 305.88%;
            position: relative;

            transition: padding .2s ease-in-out, width .2s ease-in-out;
        }

        // .poker-user-cards__card--img

        &--img {
            position: absolute;
            left: 50%; top: 0;
            transform: translate3d(-50%,0,0);
            width: auto; height: 100%;
            object-fit: contain;
            border-radius: 4px;
            filter: drop-shadow(0px 8.93023px 8.93023px rgba(0, 0, 0, 0.25));
        }
    }
}

.poker-combination-popup {

    // .poker-combination-popup__wrapper

    &__wrapper {
    }

    // .poker-combination-popup__bg

    &__bg {
    }

    // .poker-combination-popup__body

    &__body {
        max-width: 472px;
    }

    // .poker-combination-popup__container

    &__container {
    }

    // .poker-combination-popup__title

    &__title {
    }

    // .poker-combination-popup__list

    &__list {
        display: flex;
        flex-direction: column;

        padding-top: 37px;
    }

    // .poker-combination-popup__item

    &__item {

        
        &:not(:first-child) {
            padding-top: 17px;
        }

        // .poker-combination-popup__item--body

        &--body {
            display: flex;
            align-items: center;
        }

        // .poker-combination-popup__item--info

        &--info {
            flex: 0 1 45%;
            padding-right: 5px;
            @include _426 {
                flex: 0 1 55%;
            }
        }

        // .poker-combination-popup__item--name

        &--name {
            font-family: var(--title-font);
            line-height: 115%;
            font-size: 0.75rem;

            @include _426 {
                font-size: 1rem;
            }
        }

        // .poker-combination-popup__item--text

        &--text {
            margin-top: 3px;
            font-size: 0.625rem;

            @include _426 {
                margin-top: 5px;
                font-size: 0.75rem;
            }
            line-height: 133%;
            font-weight: 300;
        }

        // .poker-combination-popup__item--image

        &--image {
            
            flex: 0 1 55%;
            @include _426 {
                flex: 0 1 45%;
            }

            position: relative;
            min-height: 55px;
        }

        // .poker-combination-popup__item--img

        &--img {
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
        }
    }
}
