@import 'mixin';
@import 'null';
@import 'libs';
@import 'vars';
@import 'global';
@import 'font';
@import 'popup';
@import 'form';

@import 'main-sections/header';


@import 'pages/main-page/intro';
@import 'pages/main-page/games';
@import 'pages/main-page/rooms';
@import 'pages/main-page/advantages';
@import 'pages/main-page/video';
@import 'pages/main-page/news';
@import 'pages/main-page/feedback';

@import 'pages/account/main';

@import 'pages/online-games/main';

@import 'pages/rooms/main';

@import 'pages/page-game/main';

@import 'pages/news/main';

@import 'pages/faq/main';

@import 'pages/text-section/main';

@import 'pages/404/main';

@import 'pages/game/main';


@import 'main-sections/footer';
