.news-page {

    // .news-page__container

    &__container {
    }

    // .news-page__header

    &__header {
    }

    // .news-page__forward-btn

    &__forward-btn {
    }

    // .news-page__section-title

    &__section-title {
    }

    // .news-page__bread-crumbs

    &__bread-crumbs {
    }

    // .news-page__main

    &__main {

        padding-top: 31px; padding-bottom: 31px;

        display: grid;
        
        @include _768 {
            grid-template-columns: auto minmax(300px,38%);
            padding-bottom: 83px;
        }

        // .news-page__main--block

        &--block {
            
            @include _768 {
                padding-right: 15px;
            }
            @include _992 {
                padding-right: 67px;
            }
        }

        // .news-page__main--aside

        &--aside {
        }
    }

    // .news-page__block

    &__block {
        
    }

    // .news-page__title

    &__title {
        font-weight: 700;
        line-height: 149.19%;
        margin-bottom: -5px;
    }

    // .news-page__time

    &__time {
        font-weight: 300;
        font-size: 0.625rem;
        line-height: 100%;
    }

    // .news-page__image

    &__image {

        margin-top: 21px;

        // .news-page__image--body

        &--body {
            width: 100%; padding-top: 54.2%;
            position: relative;
        }

        // .news-page__image--img

        &--img {
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            object-fit: cover;
            border-radius: 4px;
        }
    }

    // .news-page__text

    &__text {
        padding-top: 17px;
        color: #B6AE9D;
        font-weight: 300;
        & h4 {
            line-height: 130%;
            font-weight: 700;
            padding: 10px 0;
        }
        & p {
            padding: 10px 0;
        }
    }

    // .news-page__aside

    &__aside {

        margin-top: 30px;

        @include _768 {
            margin-top: 0;
        }

        // .news-page__aside--body

        &--body {
            
            @include _768 {
                padding: 20px;
                background: linear-gradient(180deg, #232221 58.33%, rgba(35, 34, 33, 0) 100%);
                border-radius: 6px;
            }

            @include _992 {
                padding: 40px;
            }

            min-height: 100%;
        }

        // .news-page__aside--list

        &--list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            margin: -30.5px -15px;

            @include _768 {
                flex-direction: column;
                flex-wrap: nowrap;

                margin: 0;
            }
        }

        // .news-page__aside--item

        &--item {

            &:not(:first-child) {
                @include _768 {
                    margin-top: 45px;
                }
            }
            
            @media(min-width: 500px) {
                flex: 0 1 50%;
            }
            padding: 6px;

            padding: 30.5px 15px;

            @include _768 {
                flex: 0 1 auto;
                padding: 0;
            }
        }
    }
}
