.feedback {

    position: relative;
    &.section-padding {
        padding-bottom: 100px;
        @include _768 {
            padding-bottom: 60px
        }
        @include _992 {
            padding-bottom: 71px
        }
    }

    // .feedback__bg

    &__bg {

        position: absolute;
        left: 0; top: 0;
        width: 100%; height: calc(100% - 100px);
        @include _768 {
            height: 100%;
        }
        @include _992 {
            height: 100%;
        }
        background: var(--dark-red-gradient);
        z-index: -1;

        // .feedback__bg--img

        &--img {
            width: auto; height: 100%;
            object-fit: cover;
            user-select: none;
        }
    }

    // .feedback__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        @include _768 {
            flex-direction: row;
        }

        padding-block: 30px;
    }

    // .feedback__decor

    &__decor {

        // .feedback__decor--img

        &:last-child {
            /* position: absolute;
            left: 50%; bottom: 0;
            transform: translate(-50%,0); */
            height: 200px; width: 100%;
            @include _768 {
                position: static;
                width: auto; height: auto;
                transform: translate(0%,0);
            }
        }

        &--body {
            position: relative;
            height: 100%; width: 100%;
            @include _768 {
                padding-top: 100%; height: auto;
            }
        }

        &--item {
            position: absolute;
        }

        @include _768 {
            flex: 1 1 auto;
            /* &:first-child {
                text-align: right;
                padding-right: 50px;
                transform: translate(0,-5px);
            }

            &:last-child {
                margin-top: 0;
                padding-left: 50px;
                transform: translate(30px,-15px);
            } */
        }

        

        &--img {
            /* max-width: 100%; */
            user-select: none;
            width: 100%; height: auto;
            /* object-fit: contain; */
        }
    }

    // .feedback__form

    &__form {
        @include _768 {
            flex: 1 0 356px;
            width: 356px;
        }

        width: 100%;

        display: flex;
        flex-direction: column;
        
    }

    // .feedback__title

    &__title {
        margin-bottom: 23px;
    }

    // .feedback__label

    &__label {
        display: flex;
        flex-direction: column;

        padding: 9px 0;

        font-size: 0.875rem;
    }

    // .feedback__input-name

    &__input-name {
        color: var(--red);
    }

    // .feedback__input

    &__input {
        background: transparent;
        padding: 2px 0 9px 0;
        color: var(--light);
        border-bottom: 1px solid var(--light);
        line-height: 130%;

        &::placeholder {
            color: var(--light);
            opacity: 1;
        }
    }

    // .feedback__textarea

    &__textarea {
        //margin-top: 20px;
        background: transparent;
        padding: 11px 0;
        color: var(--light);
        border-bottom: 1px solid var(--light);
        line-height: 130%;

        resize: vertical;
        min-height: 97px;

        &::placeholder {
            color: var(--light);
            opacity: 1;
        }

        &::-webkit-resizer {
            background: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='3.64645' y1='5.64645' x2='5.64645' y2='3.64645' stroke='%23F9F1DF'/%3E%3Cline x1='0.646447' y1='4.64645' x2='4.64645' y2='0.646447' stroke='%23F9F1DF'/%3E%3C/svg%3E%0A")
            right bottom / 10px no-repeat;
        }
    }

    // .feedback__submit

    &__submit {
        margin-top: 25px;
    }
}
